<h1>Listing versions</h1>

<table>
  <thead>
    <tr>
      <th>Vercod</th>
      <th>V padron</th>
      <th>V sistem integer</th>
      <th>F registro</th>
      <th>Id even</th>
      <th>Des ini</th>
      <th>Des fin</th>
      <th>Observa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td><%= version.vercod %></td>
        <td><%= version.v_padron %></td>
        <td><%= version.v_sistem_integer %></td>
        <td><%= version.f_registro %></td>
        <td><%= version.id_even %></td>
        <td><%= version.des_ini %></td>
        <td><%= version.des_fin %></td>
        <td><%= version.observa %></td>
        <td><%= link_to 'Show', version %></td>
        <td><%= link_to 'Edit', edit_version_path(version) %></td>
        <td><%= link_to 'Destroy', version, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Version', new_version_path %>
