<p id="notice"><%= notice %></p>

<p>
  <strong>Vercod:</strong>
  <%= @version.vercod %>
</p>

<p>
  <strong>V padron:</strong>
  <%= @version.v_padron %>
</p>

<p>
  <strong>V sistem integer:</strong>
  <%= @version.v_sistem_integer %>
</p>

<p>
  <strong>F registro:</strong>
  <%= @version.f_registro %>
</p>

<p>
  <strong>Id even:</strong>
  <%= @version.id_even %>
</p>

<p>
  <strong>Des ini:</strong>
  <%= @version.des_ini %>
</p>

<p>
  <strong>Des fin:</strong>
  <%= @version.des_fin %>
</p>

<p>
  <strong>Observa:</strong>
  <%= @version.observa %>
</p>

<%= link_to 'Edit', edit_version_path(@version) %> |
<%= link_to 'Back', versions_path %>
