<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @usuario.usuario %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @usuario.clave %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
